.TblEstudiantes {
  margin: auto;
  margin-top: 10px;
  min-width: 1230px;
  width: 95%;
}

.tablaEstudiante {
  height: 285px;
  overflow: auto;
  border: 1px solid black;
}

.titutloTablas h4 {
  padding: 10px;
  background-color: #228e78;
}

.TblEstudiantes th {
  background-color: #3fa689;
}

.TblEstudiantes th,
td {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.TblEstudiantes tbody tr:hover {
  background-color: cadetblue;
  cursor: pointer;
  color: white;
}
